name: PR CMD check & build site

on:
  push:
<<<<<<< HEAD
=======
    paths:
      - 'DESCRIPTION'
      - '**.yml'
    branches:
      - RELEASE_3_21
      - pkgdown
>>>>>>> 2bddaf4ad90b7da0d21c35102609dfb01c9f985e

env:
  R_REMOTES_NO_ERRORS_FROM_WARNINGS: true
  GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
  CRAN: https://p3m.dev/cran/__linux__/noble/latest
<<<<<<< HEAD
  BIOC_RELEASE: RELEASE_3_20
=======
  BIOC_RELEASE: RELEASE_3_21
>>>>>>> 2bddaf4ad90b7da0d21c35102609dfb01c9f985e

jobs:
  check:
    runs-on: ubuntu-latest
<<<<<<< HEAD
    container: bioconductor/bioconductor_docker:RELEASE_3_20

=======
    container: bioconductor/bioconductor_docker:RELEASE_3_21
    
  native-check:
    name: Bioc Build & Check (macOS & Windows)
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, windows-latest]
>>>>>>> 2bddaf4ad90b7da0d21c35102609dfb01c9f985e
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          ref: ${{ env.BIOC_RELEASE }}
<<<<<<< HEAD

=======
>>>>>>> 2bddaf4ad90b7da0d21c35102609dfb01c9f985e
      - name: Copy .github and _pkgdown.yml
        run: |
          git config --global --add safe.directory /__w/${{ github.event.repository.name }}/${{ github.event.repository.name }}
          git fetch origin pkgdown
          git checkout origin/pkgdown -- .github
          git checkout origin/pkgdown -- _pkgdown.yml

      - name: Query dependencies
        run: |
          BiocManager::install(c("covr", "BiocCheck"))
          saveRDS(remotes::dev_package_deps(dependencies = TRUE), ".github/depends.Rds", version = 2)
        shell: Rscript {0}
<<<<<<< HEAD

=======
        
>>>>>>> 2bddaf4ad90b7da0d21c35102609dfb01c9f985e
      - name: Cache R packages
        uses: actions/cache@v4
        with:
          path: /usr/local/lib/R/site-library
          key: ${{ runner.os }}-r-${{ env.BIOC_RELEASE }}-${{ hashFiles('.github/depends.Rds') }}
          restore-keys: ${{ runner.os }}-r-${{ env.BIOC_RELEASE }}-

      - name: Install Dependencies
        run: |
          remotes::install_deps(dependencies = TRUE, repos = BiocManager::repositories())
          BiocManager::install(c("rcmdcheck", "BiocCheck"), ask = FALSE, update = TRUE)
        shell: Rscript {0}

      - name: Check Package
        env:
          _R_CHECK_CRAN_INCOMING_REMOTE_: false
        run: rcmdcheck::rcmdcheck(args = "--no-manual", error_on = "error", check_dir = "check")
        shell: Rscript {0}

      - name: Run BiocCheck
        id: bioccheck
        run: |
          BiocCheck::BiocCheck(
            dir('check', 'tar.gz$', full.names = TRUE),
            `quit-with-status` = TRUE, `no-check-bioc-help` = TRUE
          )
        shell: Rscript {0}
<<<<<<< HEAD

=======
>>>>>>> 2bddaf4ad90b7da0d21c35102609dfb01c9f985e

