name: PR CMD check & build site

on:
  pull_request:
    branches: [ main, devel ]

jobs:
  check:
    name: R CMD check (Bioc devel)
    runs-on: ubuntu-latest
    container: ghcr.io/bioconductor/bioconductor_salt:devel-noble

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Show session info
        run: R -q -e 'sessionInfo()'

      - name: Query dependencies
        shell: Rscript {0}
        run: |
          options(repos = BiocManager::repositories())
          if (!requireNamespace("remotes", quietly=TRUE)) install.packages("remotes")
          if (!requireNamespace("BiocManager", quietly=TRUE)) install.packages("BiocManager")
          BiocManager::install(c("covr","BiocCheck"), ask=FALSE, update=TRUE)
          saveRDS(remotes::dev_package_deps(dependencies = TRUE),
                 ".github/depends.Rds", version = 2)

      - name: Cache R packages
        uses: actions/cache@v4
        with:
          path: /usr/local/lib/R/site-library
          key: ${{ runner.os }}-r-devel-${{ hashFiles('.github/depends.Rds') }}
          restore-keys: |
            ${{ runner.os }}-r-devel-

      - name: Install deps
        shell: Rscript {0}
        run: |
          options(repos = BiocManager::repositories())
          remotes::install_deps(dependencies = TRUE)
          BiocManager::install(c("rcmdcheck","BiocCheck"), ask = FALSE, update = TRUE)

      - name: R CMD check
        shell: Rscript {0}
        env:
          _R_CHECK_CRAN_INCOMING_REMOTE_: false
        run: |
          rcmdcheck::rcmdcheck(args=c("--no-manual","--as-cran"),
                               error_on="error",
                               check_dir="check")

      - name: Upload check results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: check-devel
          path: check/*
