name: Bioconductor Submission Checks

on:
  push:
    branches: [ main, devel ]
  pull_request:

jobs:
  linux-check:
    name: Bioc Build & Check (Linux)
    runs-on: ubuntu-latest
    container:
      image: bioconductor/bioconductor_docker:RELEASE_3_21
      options: --user root
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install R build tools and dependencies
        run: |
          Rscript -e 'install.packages("rcmdcheck", repos = BiocManager::repositories())'
          Rscript -e 'if (!requireNamespace("BiocCheck", quietly=TRUE)) BiocManager::install("BiocCheck")'
          Rscript -e 'if (!requireNamespace("knitr", quietly=TRUE)) install.packages("knitr")'
          Rscript -e 'if (!requireNamespace("rmarkdown", quietly=TRUE)) install.packages("rmarkdown")'

      - name: Build and check
        run: |
          R CMD build .
          PKG_TARBALL=$(ls *.tar.gz)
          R CMD check --as-cran $PKG_TARBALL
          Rscript -e 'BiocCheck::BiocCheck(path = "./")'

      - name: Upload Check Results
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: BiocCheck-results
          path: check/

  native-check:
    name: Bioc Build & Check (macOS & Windows)
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, windows-latest]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup R
        uses: r-lib/actions/setup-r@v2
        with:
          r-version: '4.5.0'

      - name: Setup pandoc
        uses: r-lib/actions/setup-pandoc@v2

      - name: Install R build tools and dependencies
        run: |
          Rscript -e 'install.packages("rcmdcheck", repos = BiocManager::repositories())'
          Rscript -e 'if (!requireNamespace("BiocCheck", quietly=TRUE)) BiocManager::install("BiocCheck")'
          Rscript -e 'if (!requireNamespace("knitr", quietly=TRUE)) install.packages("knitr")'
          Rscript -e 'if (!requireNamespace("rmarkdown", quietly=TRUE)) install.packages("rmarkdown")'

      - name: Build and check
        run: |
          R CMD build .
          PKG_TARBALL=$(ls *.tar.gz)
          R CMD check --as-cran $PKG_TARBALL
          Rscript -e 'BiocCheck::BiocCheck(path = "./")'

      - name: Upload Check Results
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: BiocCheck-results
          path: check/
